/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}




/*ESTILOS DEL CARRUSEL */


/*ESTILOS DE LAS CARDS DE LOS CURSOS */
/*AGREGUE ESTO*/
.todo_el_alto{
  height: 100%!important;
  position:relative!important;
}
.col-md-4 >h1{
 position: absolute;
}
.col-md-4 > img
{
  width: 100%;
}
.todo_el_ancho{
 /*padding-left: 0!important;
 padding-right: 0!important; */
 position:relative!important;
 display: inline-block;
}


@media (max-width: 768px) {  
  .cuadritos {
    height: 50%;
    width: 50%;
  }
}

.carou {
  position: relative;
max-width: 100%!important;
}

/* Style the button and place it in the middle of the container/image */
.carou .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cuadritos > img{
  height: 100%!important;
}
.separate{
  justify-content: center;
}
@media (min-width: 1200px) { 
  .masalto{
    transform: translate(0px, -50px);
  }
  .masalto2{
    transform: translate(0px, -25px);
  }
  .separate{
    padding-top: 100px;
  }
  .ocultar{
    display: inline;
  }

 }

 .col-md-2 {
  flex: 0 0 auto;
  width: 18%;
}

/*AGREGUE ESTO*/
.todo_el_alto{
  height: 100%!important;
  position:relative!important;
}

.nosalirtedelcontainer{
  width: 100%;
  height: 100%;
}
.nosalirtedelcontainer > row,.nosalirtedelcontainer > row > .col-md-6{
width: 100%;
    height: 100%;
}

@media (max-width: 1199px) { 
  .last-wrapper2{
    text-align: center;
    display: block;
    margin-left: 0;
  }

  .last-wrapper2 > span{
    display: block;
    margin-left: 0;
  }
  .ocultar{
    display: none;
  }
  .hijo{
    position: absolute;
     top: 50%;
     left: 30%;/*
     height: 30%;
     width: 50%;*/
     margin: -15% 0 0 -25%;
     max-width: 90%;
  }
  /*ESTILOS PARA PAGINA DE MAESTROS*/
  .btn-nav-perfil{
    width: 70%;
  }
  .btn-nav-perfil{
    width: 60%!important;
  }
  .name{
    width: 100%!important;;
    margin: 0;
    text-align: center!important;
  }
  .flexc{
    margin: auto!important;;
  }
  .centraricons{
    display: block!important;
    width: 100%!important;
  }
  .last-wrapper >a {
    font-size: 18px!important;
  }
  /*TERMINA PARA PAGINA DE MAESTROS*/
 }

 .tresde{
  margin:0;
padding: 0;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.pruebatamano > img{
  max-width: 70%;
}
.nosalirtedelcontainer{
  width: 100%;
  height: 100%;
}
.nosalirtedelcontainer > row,.nosalirtedelcontainer > row > .col-md-6{
width: 100%;
    height: 100%;
}
.padre{
  position: relative;
}
.hijo{
  position: absolute;
   top: 30%;
   left: 30%;/*
   height: 30%;
   width: 50%;*/
   margin: -15% 0 0 -25%;
   max-width: 90%;
}
.containersito
{
  position: relative;
  width: 360px;
  height: 640px;
  margin-top: 120px;
  background: rgba(0,0,0,0);
  transform: translate(100px,-50px)rotate(-30deg) skew(25deg) scale(.8);
  transition: 0.5s;
}
.containersito2
{
  position: relative;
  width: 360px;
  height: 640px;
  margin-top: 120px;
  background: rgba(0,0,0,0);
  margin-bottom: 120px;
  /*transform: translate(100px,-50px)rotate(-30deg) skew(25deg) scale(.8);*/
  transition: 0.5s;
}
.containersito img,.containersito2 img
{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.containersito:hover img:nth-child(4) ,.containersito2:hover img:nth-child(4)
{
  transform: translate(160px,-160px);		
  opacity: 1;
}
.containersito:hover img:nth-child(3),.containersito2:hover img:nth-child(3)
{
  transform: translate(120px,-120px);		
  opacity: .8;
}
.containersito:hover img:nth-child(2), .containersito2:hover img:nth-child(2)
{
  transform: translate(80px,-80px);		
  opacity: .6;
}
.containersito:hover img:nth-child(1), .containersito2:hover img:nth-child(1)
{
  transform: translate(40px,-40px);		
  opacity: .4;
}
/*ESTILOS DE LAS CARDS DE LOS CURSOS */
/*ESTILOS DEL CARRUSEL */


/*ESTILOS DE LOS CARDS JS INDEX */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}

.row.marginbtm { 
  justify-content: center!important;
}

.marginbtm{
  margin-bottom: 50px;
}
/*TERMINA ESTILOS DE LOS CARDS JS INDEX */

/*ESTILOS ACCEDE DESDE CUALQUIER DISPOSITIVO*/
.containersito3 {
  position: relative;
  width: 200px;
  height: 340px;
  /* margin-top: 120px; */
  background: rgba(0,0,0,0);
  /* margin-bottom: 120px; */
  /* transform: translate(100px,-50px)rotate(
-30deg
) skew(
25deg
) scale(.8); */
  transition: 0.5s;
}

.tresde3 {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.containersito3 img,.containersito3 img
{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.containersito3:hover img:nth-child(4) ,.containersito3:hover img:nth-child(4)
{
  transform: translate(160px,-160px);		
  opacity: 1;
}
.containersito3:hover img:nth-child(3),.containersito3:hover img:nth-child(3)
{
  transform: translate(120px,-120px);		
  opacity: .8;
}
.containersito3:hover img:nth-child(2), .containersito3:hover img:nth-child(2)
{
  transform: translate(80px,-80px);		
  opacity: .6;
}
.containersito3:hover img:nth-child(1), .containersito3:hover img:nth-child(1)
{
  transform: translate(40px,-40px);		
  opacity: .4;
}
/*TERMINA ACCEDE DESDE CUJALQUEIR DISPOSITOV+*/

.jumbotron{
  margin-top: 60px;
}

/*ESTILOS CAROUSEL CURSOS RECIENTES */

.carousel-multi-item .carousel-indicators li {
  width: 1.56rem;
  max-width: 1.56rem;
  height: 1.56rem;
  margin-bottom: -3.75rem;
  background-color: #5B00BC;
}
.carousel .carousel-indicators li {
  width: 1.56rem;
  max-width: 1.56rem;
  height: 1.56rem;
  cursor: pointer;
  border-radius: 50%;
}
.carousel-multi-item .carousel-indicators .active {
  width: 1.56rem;
  max-width: 1.56rem;
  height: 1.56rem;
  background-color: #200042;
  border-radius: 50%;
}
.carousel-indicators li {
  color: red;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
/*CIRCULOS*/
.carousel-multi-item .controls-top {
  margin-bottom: 1.88rem;
  text-align: center;
}
.carousel-multi-item .controls-top .btn-floating {
  background: #4285f4;
}
a.waves-effect, a.waves-light {
  display: inline-block;
}
.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}
.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
}



.carousel-multi-item .controls-top .btn-floating {
    background: #5B00BC;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
    justify-content: center;
    font-size: 20px;
}