 html {
    height: 100%;
  }
  .modal-body{
    height: 300px!important;
  }
.diez_porc{
    width: 10%;
}
.veinte_porc{
    width: 20%;
}
.align_end{
  text-align: end;
}
.popup_block{
display: none; /* masked by default */
/*background: red;
padding: 20px;
border: 20px solid #ddd;*/
font-size: 1.2em;
position: fixed;
z-index: 99999;
/*--Les différentes définitions de Box Shadow en CSS3--
-webkit-box-shadow: 0px 0px 20px #000;
-moz-box-shadow: 0px 0px 20px #000;
box-shadow: 0px 0px 20px #000;

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;*/
}
.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }
 .ml_auto{
    text-align: end;
    width: 20%;
 }
 .progress{
    width: 30%;
    height: 4rem;
 }
 .navbar{
    
    width: 100%;
 }

 @keyframes modal {
    from{top:-300px; opacity: 0;}
    to{top: 0px; opacity: 1;}
 }

 /* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   z-index: 1; /* Sit on top */
   position: fixed;
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   animation-name: modal;
   animation-duration: 0.5s;

 }
 
 /* Modal Content/Box */
 .modal-content {
   background-color: #2e2e2e;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid rgb(27, 27, 27);
   width: 80%; /* Could be more or less, depending on screen size */
 }
 
 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 .ocho_porc{
  width: 8%;
}
.diez_porc{
  width: 10%;
}