RewriteEngine on

#Rewrite for views
RewriteRule ^user-edition/([0-9]+)$ perfil.php?userId=$1 [NC,L]

#Rewrite for api/avatar.php
RewriteRule ^api/users/([0-9]+)/avatar$ api/avatar.php?userId=$1 [NC,L]

# Rewrite for api/users.php
RewriteRule ^api/users/([0-9]+)$ api/users.php?userId=$1 [NC,L]
RewriteRule ^api/users$ api/users.php [NC,L]