

#logo{
	width: 400px;
	height: 40px;
}
#esquinaIzq {
	width: 400px;
	height: 420px;
}

#esquinaD {
	width: 410px;
	height: 420px;
}
h1{
	font-size: 100px; 
}

h2{
	font-size: 58px; 
}

p{
	font-size: 30px; 
}